body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
}

.map {
    display: grid;
    /* background-color: rgb(8, 22, 4); */
    border: 5px solid rgb(255, 208, 0);
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(20, 20px);
    width: max-content;
    height: max-content;
    background-image: url("./images/citrouille.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.snake {
    background-image: url("./images/witch.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.food {
    background-image: url("./images/chauve-s2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tail {
    background-image: url("./images/marmite.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.score {
    border: 5px solid rgb(223, 174, 15);
    text-decoration-color: black;
    width: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em
}

.title {
    border: 5px solid rgb(223, 174, 15);
    text-decoration-color: black;
    width: 200px;
    height: 500px;
    display: flex;
    /* justify-content: space-around; */
    /* align-content: space-around; */
    align-items: center;
    /* align-content: space-around; */
    /* text-align: center; */
}

#stp_btn {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}