.map {
    display: grid;
    background-color: rgb(8, 22, 4);
    border: 3px solid rgb(255, 208, 0);
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(20, 20px);
    width: max-content;
    height: max-content;
}

.snake {
    border: 5px solid red;
    /* width: 5px;
    height: 5px; */
}

.food {
    border: 1px solid rgba(255, 174, 0, 0.788);
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-columns: 20px 20px;
    width: max-content;
} */